    

    <div class="row">
    <div class="col-md-6 m-auto ">
        <div class="container mt-5 pl-5">
            <h5 class=" text-danger">Edit Banner</h5><br>
           <form action="/admin/editbanner/{{banners._id}}" method="post" enctype="multipart/form-data" >
            <div class="form-group">
                  
                    <img src="/banner-images/{{banners._id}}.jpg" alt="" style="width:100px; height: auto" id="imgView">

                    <input type="file" class="form-control" name="Image" placeholder="Image" onchange="viewImage(event)">
                                <span id="errorImage" style="color:red"></span>

                </div>
                     <div class="form-group">
                      <label for="">Subtitle</label>
                    <input type="text" class="form-control" name="Subtitle" placeholder="Subtitle" value="{{banners.Subtitle}}">
                </div> <br>
                <div class="form-group">
                    <label for="">Heading</label>
                    <input type="text" class="form-control" name="Heading" placeholder="Heading"  value="{{banners.Heading}}">
                </div> <br>

                
                <button type="submit" class="btn btn-outline-danger float-right">Submit</button>
            </form>
        </div>
    </div>
</div>

<script>
    function viewImage(event){
        document.getElementById('imgView').src=URL.createObjectURL(event.target.files[0])
    }
</script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>


</form>