<div class="container m-5 p-4">
  <a href="/admin/add-category" class="btn btn-outline-danger mb-4" >Add Category</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Category</th>
      <th>Image</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    
       {{#each category}}
    <tr>
      <td> {{inc @index}}</td>
      <td >{{this.Category}}</td>
      <td><img style="width: 50px; height: 50px;" src="/category-images/{{this._id}}.jpg" alt=""></td>

      <td> <button  class="btn btn-danger" onclick="sweetalertClick2('/admin/delete-category/{{this._id}}')"> Delete</button></td>

    </tr>
  
  {{/each}}
  </tbody>
</table>
</div>

<script>

  function sweetalertClick2(value1){
  Swal.fire({
  title: 'Are you sure?',
  text: "You won't be able to revert this!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes, delete it!'
}).then((result) => {
  if (result.isConfirmed) {
    {window.location=value1
    }
  }
  })
}
</script>
